# Ignore VS Code and ESPHome settings files, but not .claude/settings.json
.vscode/settings.json
esphome/ha-stiebel-control/config.h
tests/run_tests
.DS_Store
.vscode
secrets.yaml
/venv

# Added by cargo

/target
