#
#  MCP2515 SPI CAN Controller Configuration
#  For ESP32-S2 and other boards using external MCP2515 transceiver
#

#########################################
#                                       #
#   SPI Configuration                   #
#   MCP2515 CAN Controller Interface    #
#########################################
spi:
  id: McpSpi
  clk_pin: ${can_clk_pin}
  mosi_pin: ${can_mosi_pin}
  miso_pin: ${can_miso_pin}

#########################################
#                                       #
#   CAN BUS (MCP2515)                   #
#                                       #
#########################################
canbus:
  - platform: mcp2515
    id: my_mcp2515
    spi_id: McpSpi
    cs_pin: ${can_cs_pin}
    can_id: ${can_id_pc}
    use_extended_id: false
    bit_rate: 20kbps
    on_frame:
      - can_id: 0
        can_id_mask: 0
        then:
          - lambda: |-
              processAndUpdate(can_id, x);
