#
#
#  Copyright (C) 2023 Bastian Stahmer (bastian@stahmer.net)
#
#  This program is part of the ESPHome / Home Assistant Program "ha-stiebel-control"
#  and is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation version 3 of the License.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#  GNU Lesser General Public License for more details.
#
#  You should have received a copy of the GNU Lesser General Public License
#  along with this program. If not, see http://www.gnu.org/licenses/ .
#

esphome:
  name: heatingpump
  friendly_name: "Heating Pump CAN Interface"
  includes:
    - ha-stiebel-control/elster/ElsterTable.h
    - ha-stiebel-control/elster/KElsterTable.h
    - ha-stiebel-control/elster/KElsterTable.cpp
    - ha-stiebel-control/elster/NUtils.h
    - ha-stiebel-control/elster/NUtils.cpp
    - ha-stiebel-control/elster/NTypes.h
    - ha-stiebel-control/config.h
    - ha-stiebel-control/ha-stiebel-control.h
    - ha-stiebel-control/signal_requests_wpl13e.h


  


esp32:
  board: esp32dev
  framework:
    type: arduino

#########################################
#                                       #
#   LOGGER                              #
#                                       #
#########################################
logger:
  level: INFO
  baud_rate: 115200


#########################################
#                                       #
#   API & OTA                           #
#                                       #
#########################################
api:
  reboot_timeout: 15min

ota:
  platform: esphome
  password: f0e6110663e3bef67846f076d7e4db81

safe_mode:
  reboot_timeout: 5min

#########################################
#                                       #
#   MQTT                                #
#                                       #
#########################################
mqtt:
  broker: !secret mqtt_broker
  username: !secret mqtt_username
  password: !secret mqtt_password
  id: mqtt_client
  # Disable native ESPHome discovery - using custom auto-discovery instead
  discovery: false
  discovery_prefix: homeassistant
  # Birth message - sent when ESP32 connects
  birth_message:
    topic: heatingpump/status
    payload: online
    qos: 1
    retain: true
  # Last Will Testament - sent by broker if ESP32 disconnects unexpectedly
  will_message:
    topic: heatingpump/status
    payload: offline
    qos: 1
    retain: true
  # Keepalive for connection monitoring
  keepalive: 15s
  # Disable reboot on MQTT disconnect - will keep trying to reconnect indefinitely
  reboot_timeout: 0s
  on_connect:
    - logger.log: 
        level: INFO
        format: "Connected to MQTT broker"
  on_disconnect:
    - logger.log:
        level: WARN
        format: "Disconnected from MQTT broker - will automatically retry"
  on_message:
    - topic: heatingpump/reconnect
      then:
        - logger.log: "Manual reconnect triggered"
    
    # Temperature setpoint controls
    - topic: heatingpump/command/speichersolltemp/set
      then:
        - lambda: |-
            ESP_LOGI("MQTT_CMD", "Received speichersolltemp command: %s", x.c_str());
            const char* value = x.c_str();
            writeSignal(&CanMembers[cm_manager], "EINSTELL_SPEICHERSOLLTEMP", value);
            readSignal(&CanMembers[cm_manager], "EINSTELL_SPEICHERSOLLTEMP");
    
    - topic: heatingpump/command/speichersolltemp2/set
      then:
        - lambda: |-
            ESP_LOGI("MQTT_CMD", "Received speichersolltemp2 command: %s", x.c_str());
            const char* value = x.c_str();
            writeSignal(&CanMembers[cm_manager], "EINSTELL_SPEICHERSOLLTEMP2", value);
            readSignal(&CanMembers[cm_manager], "EINSTELL_SPEICHERSOLLTEMP2");
    
    # Mode control
    - topic: heatingpump/command/programmschalter/set
      then:
        - lambda: |-
            ESP_LOGI("MQTT_CMD", "Received programmschalter command: %s", x.c_str());
            const char* value = x.c_str();
            writeSignal(&CanMembers[cm_manager], "PROGRAMMSCHALTER", value);
            readSignal(&CanMembers[cm_manager], "PROGRAMMSCHALTER");

#########################################
#                                       #
#   INTERVAL TIMER                      #
#                                       #
#########################################
interval:
  # Process signal requests based on request table (runs every second)
  - interval: 1s
    then:
      - lambda: |-
          processSignalRequests();
  
  # Process calculated sensor updates (runs every second)
  - interval: 1s
    then:
      - lambda: |-
          processCalculatedSensors();
  
  # Republish MQTT discovery every 15 minutes for reliability
  - interval: 15min
    then:
      - lambda: |-
          republishAllDiscoveries();
  
#########################################
#                                       #
#   TEXT SENSOREN                       #
#                                       #
#########################################
text_sensor:
  #########################################
  #                                       #
  #   HOME ASSISTANT TEXT SENSOREN        #
  #                                       #
  #########################################
  - platform: homeassistant
    name: "Wärmepumpe Datum Setpoint"
    id: warmepumpe_datum
    entity_id: input_datetime.warmepumpe_datum

  - platform: homeassistant
    name: "Wärmepumpe Uhrzeit Setpoint"
    id: warmepumpe_uhrzeit
    entity_id: input_datetime.warmepumpe_uhrzeit

  #########################################
  #                                       #
  #   BERECHNETE TEXT SENSORS             #
  #                                       #
  #########################################
  - platform: template
    name: "DATUM"
    id: DATUM
    internal: true
    icon: "mdi:calendar"

  - platform: template
    name: "ZEIT"
    id: ZEIT
    internal: true
    icon: "mdi:clock"

#########################################
#                                       #
#   BUTTON                              #
#                                       #
#########################################
button:
  - platform: template
    name: "Update Uhrzeit"
    id: update_uhrzeit
    internal: true
    on_press:
      then:
        lambda: |-
          updateTime(CanMembers[cm_manager], id(warmepumpe_uhrzeit).state.c_str());

  - platform: template
    name: "Update Datum"
    id: update_datum
    internal: true
    on_press:
      then:
        lambda: |-
          updateDate(CanMembers[cm_manager], id(warmepumpe_datum).state.c_str());

  - platform: template
    name: "Republish MQTT Discoveries"
    id: republish_mqtt_discoveries
    icon: "mdi:refresh"
    on_press:
      then:
        lambda: |-
          republishAllDiscoveries();

  - platform: restart
    name: "Restart"
    id: restart_button

  - platform: factory_reset
    name: "Factory Reset (Clear NVS)"
    icon: "mdi:restart-alert"

#########################################
#                                       #
#   SPI Konfiguration                   #
#   MCP2515 CAN Controller Interface    #
#########################################
spi:
  id: McpSpi
  clk_pin: ${can_clk_pin}
  mosi_pin: ${can_mosi_pin}
  miso_pin: ${can_miso_pin}

#########################################
#                                       #
#   canbus Konfiguration                #
#                                       #
#########################################
canbus:
  - platform: mcp2515
    id: my_mcp2515
    spi_id: McpSpi
    cs_pin: ${can_cs_pin}
    can_id: ${can_id_pc}
    use_extended_id: false
    bit_rate: 20kbps
    on_frame:
      - can_id: 0
        can_id_mask: 0
        then:
          - lambda: |-
              processAndUpdate(can_id, x);
#########################################
#                                       #
#   WiFi & Captive Portal               #
#                                       #
#########################################
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  #use_address: waermepumpe.iot.stahmer.lan
  fast_connect: true
  power_save_mode: none
  reboot_timeout: 5min
  ap:
    ssid: "Heatingpump Fallback Hotspot"
    password: "AsBl9n46jlOx"

captive_portal:

sensor:
  - platform: wifi_signal
    name: "WiFi Signal dBm"
    icon: "mdi:wifi"
    update_interval: 60s
    id: wifi_dbm

  - platform: template
    name: "WiFi Signal"
    icon: "mdi:signal"
    unit_of_measurement: "%"
    update_interval: 60s
    id: wifi_percentage
    lambda: |-
      float dBm = id(wifi_dbm).state;
      float MIN_DBM = -100.0; // Minimum RSSI in dBm
      float MAX_DBM = -30.0; // Maximum RSSI in dBm
      if (dBm < MIN_DBM) dBm = MIN_DBM;
      if (dBm > MAX_DBM) dBm = MAX_DBM;
      return ((dBm - MIN_DBM) / (MAX_DBM - MIN_DBM)) * 100;
