#
#
#  Copyright (C) 2023 Bastian Stahmer (bastian@stahmer.net)
#
#  This program is part of the ESPHome / Home Assistant Program "ha-stiebel-control"
#  and is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation version 3 of the License.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#  GNU Lesser General Public License for more details.
#
#  You should have received a copy of the GNU Lesser General Public License
#  along with this program. If not, see http://www.gnu.org/licenses/ .
#

esphome:
  name: heatingpump
  friendly_name: "Heating Pump CAN Interface"
  includes:
    - ha-stiebel-control/elster/ElsterTable.h
    - ha-stiebel-control/elster/KElsterTable.h
    - ha-stiebel-control/elster/KElsterTable.cpp
    - ha-stiebel-control/elster/NUtils.h
    - ha-stiebel-control/elster/NUtils.cpp
    - ha-stiebel-control/elster/NTypes.h
    - ha-stiebel-control/ha-stiebel-control.h

esp32:
  board: esp32dev
  framework:
    type: arduino

#########################################
#                                       #
#   LOGGER                              #
#                                       #
#########################################
logger:
  level: INFO  # Change to DEBUG for troubleshooting
  baud_rate: 115200
  logs:
    # Reduce verbose CAN logging in production
    canbus: INFO
    mqtt: INFO
    # Keep critical logs visible
    component: WARN

#########################################
#                                       #
#   API & OTA                           #
#                                       #
#########################################
api:
  reboot_timeout: 15min

ota:
  platform: esphome
  password: f0e6110663e3bef67846f076d7e4db81

safe_mode:
  reboot_timeout: 5min

#########################################
#                                       #
#   MQTT                                #
#                                       #
#########################################
mqtt:
  broker: !secret mqtt_broker
  username: !secret mqtt_username
  password: !secret mqtt_password
  id: mqtt_client
  # Disable native ESPHome discovery - using custom auto-discovery instead
  discovery: false
  discovery_prefix: homeassistant
  # Birth message - sent when ESP32 connects
  birth_message:
    topic: heatingpump/status
    payload: online
    qos: 1
    retain: true
  # Last Will Testament - sent by broker if ESP32 disconnects unexpectedly
  will_message:
    topic: heatingpump/status
    payload: offline
    qos: 1
    retain: true
  # Keepalive for connection monitoring
  keepalive: 15s
  # Disable reboot on MQTT disconnect - will keep trying to reconnect indefinitely
  reboot_timeout: 0s
  on_connect:
    - logger.log: 
        level: INFO
        format: "Connected to MQTT broker"
    - lambda: |-
        publishMainDevice();
        publishBlacklistDiagnostics();
  on_disconnect:
    - logger.log:
        level: WARN
        format: "Disconnected from MQTT broker - will automatically retry"
  on_message:
    - topic: heatingpump/reconnect
      then:
        - logger.log: "Manual reconnect triggered"

#########################################
#                                       #
#   INTERVAL TIMER                      #
#                                       #
#########################################
interval:
  # Process signal requests based on request table (runs every second)
  - interval: 1s
    then:
      - lambda: |-
          processSignalRequests();
  
  # Check for timed-out CAN requests every 10 seconds
  - interval: 10s
    then:
      - lambda: |-
          checkPendingRequests();
  
  # Republish MQTT discovery every 15 minutes for reliability
  - interval: 15min
    then:
      - lambda: |-
          republishAllDiscoveries();
  
  # Publish blacklist diagnostics every 5 minutes
  - interval: 5min
    then:
      - lambda: |-
          publishBlacklistDiagnostics();

#########################################
#                                       #
#   TEXT SENSOREN                       #
#                                       #
#########################################
text_sensor:
  #########################################
  #                                       #
  #   HOME ASSISTANT TEXT SENSOREN        #
  #                                       #
  #########################################
  - platform: homeassistant
    name: "Wärmepumpe Datum Setpoint"
    id: warmepumpe_datum
    entity_id: input_datetime.warmepumpe_datum

  - platform: homeassistant
    name: "Wärmepumpe Uhrzeit Setpoint"
    id: warmepumpe_uhrzeit
    entity_id: input_datetime.warmepumpe_uhrzeit

  #########################################
  #                                       #
  #   BERECHNETE TEXT SENSORS             #
  #                                       #
  #########################################
  - platform: template
    name: "DATUM"
    id: DATUM
    internal: true
    icon: "mdi:calendar"

  - platform: template
    name: "ZEIT"
    id: ZEIT
    internal: true
    icon: "mdi:clock"

#########################################
#                                       #
#   BUTTON                              #
#                                       #
#########################################
button:
  - platform: template
    name: "Update Uhrzeit"
    id: update_uhrzeit
    internal: true
    on_press:
      then:
        lambda: |-
          updateTime(CanMembers[cm_manager], id(warmepumpe_uhrzeit).state.c_str());

  - platform: template
    name: "Update Datum"
    id: update_datum
    internal: true
    on_press:
      then:
        lambda: |-
          updateDate(CanMembers[cm_manager], id(warmepumpe_datum).state.c_str());

  - platform: template
    name: "Identify CAN Members"
    id: identify_can_members
    internal: true
    on_press:
      then:
        lambda: |-
          identifyCanMembers();
          return;

#########################################
#                                       #
#   SPI Konfiguration                   #
#   MCP2515 CAN Controller Interface    #
#########################################
spi:
  id: McpSpi
  clk_pin: ${can_clk_pin}
  mosi_pin: ${can_mosi_pin}
  miso_pin: ${can_miso_pin}

#########################################
#                                       #
#   canbus Konfiguration                #
#                                       #
#########################################
canbus:
  - platform: mcp2515
    id: my_mcp2515
    spi_id: McpSpi
    cs_pin: ${can_cs_pin}
    can_id: ${can_id_pc}
    use_extended_id: false
    bit_rate: 20kbps
    on_frame:
      - can_id: 0
        can_id_mask: 0
        then:
          - lambda: |-
              processAndUpdate(can_id, x);
