#
#
#  Copyright (C) 2023 Bastian Stahmer (bastian@stahmer.net)
#
#  This program is part of the ESPHome / Home Assistant Program "ha-stiebel-control"
#  and is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation version 3 of the License.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#  GNU Lesser General Public License for more details.
#
#  You should have received a copy of the GNU Lesser General Public License
#  along with this program. If not, see http://www.gnu.org/licenses/ .
#

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  #use_address: waermepumpe.iot.stahmer.lan
  # Fast reconnection for better availability
  fast_connect: true
  # Power save mode off for stable CAN communication
  power_save_mode: none
  # Reconnection strategy
  reboot_timeout: 5min
  #wifi:
  #  ssid: "Airport-IoT"
  #  password: "X0dkaU95tONC"
  #  manual_ip:
  #    static_ip: 192.168.0.194
  #    gateway: 192.168.0.1
  #    dns1: 192.168.0.2
  #    subnet: 255.255.255.0
  #  use_address: heatingpump.local

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Heatingpump Fallback Hotspot"
    password: "AsBl9n46jlOx"

captive_portal:

sensor:
  - platform: wifi_signal
    name: "WiFi Signal dBm"
    icon: "mdi:wifi"
    update_interval: 60s
    id: wifi_dbm

  - platform: template
    name: "WiFi Signal"
    icon: "mdi:signal"
    unit_of_measurement: "%"
    update_interval: 60s
    id: wifi_percentage
    lambda: |-
      float dBm = id(wifi_dbm).state;
      float MIN_DBM = -100.0; // Minimum RSSI in dBm
      float MAX_DBM = -30.0; // Maximum RSSI in dBm
      if (dBm < MIN_DBM) dBm = MIN_DBM;
      if (dBm > MAX_DBM) dBm = MAX_DBM;
      return ((dBm - MIN_DBM) / (MAX_DBM - MIN_DBM)) * 100;
